<ion-header>
  <ion-toolbar>
    <ion-title>Manager</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id ="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/history']">History</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/restock']" >Restock</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/add-new-product']">Add New Product</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
